# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# Unwanted files
*.txt
*.log

# Temporary Files
*~
*#
\#*

# Valgrind
vgcore*
*.report

# Criterion
*.gc*
unit*

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters

# IDEs and editors
.idea/
.fleet/
.vscode/
.vs/

# Build dirs
out/
Cmake*
CMake*
cmake-build-*/
build/
dist/

# Include cmake
!CMakeLists.txt
!cmake/
!*.cmake

# Include license
!LICENSE.txt

# Exclude doxygen directory
doc/
